/* loader.css */

/* Define CSS variables for easier adjustments */
:root {
    --background-size-initial: 40px;
    --background-size-intermediate: 57px;
    --background-size-final: 60px;
    --scale-initial: 0;
    --scale-intermediate: 1.35;
    --scale-final: 1.5;
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.grid-animation {
    width: 100vw;
    height: 100vh;
    background-image:
        linear-gradient(0deg, #00a669 1px, transparent 1px),
        linear-gradient(90deg, #000080 1px, transparent 1px);
    background-size: var(--background-size-initial) var(--background-size-initial);
    transform: rotate(45deg) scale(var(--scale-initial));
    animation: expand 1.5s ease-in-out forwards;
}

/* Keyframes for animation */
@keyframes expand {
    0% {
        transform: rotate(45deg) scale(var(--scale-initial));
        background-size: var(--background-size-initial) var(--background-size-initial);
        background-image:
            linear-gradient(0deg, #00a669 1px, transparent 1px),
            linear-gradient(90deg, #000080 1px, transparent 1px);
    }

    85% {
        transform: rotate(45deg) scale(var(--scale-intermediate));
        background-size: var(--background-size-intermediate) var(--background-size-intermediate);
        background-image:
            linear-gradient(0deg, #00a669 4px, transparent 1px),
            linear-gradient(90deg, #000080 4px, transparent 1px);
    }

    100% {
        transform: rotate(45deg) scale(var(--scale-final));
        background-size: var(--background-size-final) var(--background-size-final);
        background-image:
            linear-gradient(0deg, #00a669 5px, transparent 1px),
            linear-gradient(90deg, #000080 5px, transparent 1px);
    }
}

/* Responsive adjustments for tablet screens */
@media (max-width: 1024px) {
    :root {
        --background-size-initial: 30px;
        --background-size-intermediate: 42px;
        --background-size-final: 45px;
        --scale-intermediate: 1.5;
        --scale-final: 1.7;
    }
}

/* Responsive adjustments for mobile screens */
@media (max-width: 768px) {
    :root {
        --background-size-initial: 20px;
        --background-size-intermediate: 30px;
        --background-size-final: 35px;
        --scale-intermediate: 1.8;
        --scale-final: 2;
    }
}